@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100;200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'League Spartan', sans-serif;
}


.section-p1 {
    padding: 40px 80px;
}


.section-m1 {
    margin: 40px 0;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.06);
    z-index: 999;
    position: sticky;
    top: 0;
    left: 0;
}

.logo {
    height: 60px;
    margin: 0 5px;
}

#main-nav {
    display: flex;
}

#mobile {
    display: none;
    align-items: center;
}

#close{
    display: none;
}

.li-nav {
    margin: 20px;
    list-style: none;
    text-transform: uppercase;
    color: #773d73;
}

li {
    margin: 10px;
    list-style:decimal;
    list-style-position:initial;
}

a {
    text-decoration: none;
    color:#773d73;
}
a:hover {
    text-decoration: none;
    color:#f776ee;
}

h1 {
    color: rgb(80, 74, 74);
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
    font-size: 24px;
}

#form-details {
    margin: 20px 40px;
    padding: 5px;
    border: 1px solid #e1e1e1;
}

#form-details input {
    padding: 8px;
    outline: none;
    margin-bottom: 10px;
    border: 1px solid #e1e1e1;
}

.text {
    margin: 15px;
    font-weight: 700;
}

.par {
    margin-left: 40px;
    margin-bottom: 10px;
}

.city {
    width: 10px;
}

.last {
    margin-left: 50px;
}


.text{
    text-align: center;
}

.pc {
    text-decoration: underline;
    font-weight: 700;
    margin-bottom: 15px;
}



.container {
    font-weight: 700;
    display: flex;
}



button.normal {
    margin-left: 30px;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: whitesmoke;
    background-color: #773d73;
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

button.normal:hover {
    background-color: #e01818  ;
    padding: 16px 31px;
}

footer {
    background-color: #773d73;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

footer .logo {
    margin-left: 30px;
    margin-top: 100px;
}

footer h2 {
    text-transform: uppercase;
    font-size: 20px;
    margin-top: 30px;
    margin-bottom: 10px;
    color: #fff;
    margin-left: 15px;
}

footer .copyright {
    width: 100%;
    text-align: center;
    color: #fff;
    align-content: center;
    margin: 10px;
}

footer .copyright spin {
    color: #eec42d;
}

footer .copyright spin:hover {
    color: #a08421;
}

.footer-nav li a{
    color: #eec42d;
    font-size: 13px;
}
.footer-nav li a:hover{
    color: #ffca0a;
    font-size: 14px;
}
.social-links li a i {
    color: #eec42d;
}
.social-links li a i:hover{
    color: #c7a119;
    font-size: 25px;
}

.social-links ul {
    display: flex;
    font-size: 25px;
}

span {
    margin: 20px;
}


ul .required {
    list-style:circle;
}


































@media (max-width:799px) {

    #main-nav {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right: -300px;
        height: 100vh;
        width: 250px;
        background-color: #773d73;
        box-shadow: 0 40px 60px rgba(0,0,0,0.1);
        padding: 80px 0 0 10px;
        transition: 0.3s;
        margin: 0;

    }

    #main-nav.active {
        right: 0px;
    }

    #main-nav li {
        margin-bottom: 25px;
        
    }
    #mobile {
        display: flex;
        align-items: center;
        
    }

    a {
        text-decoration: none;
        color: #eec42d;
    }

    #mobile i {
        color: #eec42d;
        font-size: 20px;
    }

    #close{
        display: initial;
        position: absolute;
        top: 30px;
        left: 30px;
        color: #eec42d;
        font-size: 24px;
    }

    h1 {
        color: rgb(80, 74, 74);
        text-transform: uppercase;
        text-align: center;
        text-decoration: underline;
        font-size: 15px;
    }

    #form-details input {
        padding: 10px 10px;
        outline: none;
        margin-bottom: 20px;
        border: 1px solid #e1e1e1;
    }

    #form-details {
        margin: 10px 20px;
        
        border: 1px solid #e1e1e1;
        font-size: 12px;
    }


}


@media (max-width:477px) {

    #mobile i {
        color: #eec42d;
        font-size: 20px;
    }

    #header {
        padding: 10px 40px;
    }

    #main-nav {
       
        width: 170px;
    }


    .last {
        margin-left: 0px;
    }

    footer .copyright {
        width: 100%;
        text-align: start;
        color: #fff;
        margin: 10px;
        font-size: 14px;
    }
}


@media (max-width:350px) {
    section h1 {
        font-size: 12px;
    }


    footer .copyright {
        width: 100%;
        text-align: center;
        color: #fff;
        align-content: center;
        margin: 10px;
        font-size: 12px;
    }
}
